body {
	font-family: 'Cabin', sans-serif;
}
.text-center {
	color: black;
}
.navbar-header a {
	color: #05B8CC;
	font-size:14px;
}
.navbar-right li a {
	color:#05B8CC;
}
.navbar {
	font-family: 'Ubuntu', sans-serif;
	padding-top:20px;
}
.navbar-right li a:hover {
	background-color: #05B8CC;
	color: white;
	box-shadow: 3px 3px 5px lightgrey;
}
.col2 {
	color: #05B8CC;
}
.col3 {
	color: #05B8CC;
}
footer {
	font-family: 'Ubuntu', sans-serif;
	margin-left:0px;
	margin-right:0px;
	padding-left:0px;
	padding-right:0px;
	background-color: #05B8CC;
}
.footer {
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
	text-decoration:none;
}
.footer a {
	color:white;
	text-decoration:none;
}
.footer a:hover {
	background-color: white;
	text-decoration:none;
	color: #05B8CC;
}
.thumbnail {
	box-shadow: 4px 4px 8px lightgrey;
}
#registration {
	border: solid 2px #05B8CC;
	box-shadow: 3px 3px 5px lightgrey;
}
.jumbotron {
	color: #05B8CC;
	background: none;
}
.text-center {
	color: #05B8CC;
}
#gender {
	padding-right:30px;
}
.margin-top-20 {
	margin-top:30px;
}